<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<header th:fragment="header" class="dashboard-header">
    <h1 class="brand-title">
        ABC CINEMA
    </h1>

    <div class="flex items-center gap-4">
            <p class="text-sm text-slate-300">
                Welcome,
            </p>

            <p class="font-semibold text-white"
               th:text="${fullName}">
            </p>


        <form th:action="@{/logout}" method="post">
            <button class="logout-btn">
                Đăng xuất
            </button>
        </form>
    </div>

</header>

</body>
</html>