<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<header th:fragment="header"
        class="bg-slate-900 text-white h-16 flex items-center justify-between px-6">

  <h1 class="text-2xl font-bold text-yellow-400">
    ABC CINEMA
  </h1>

  <div class="flex items-center gap-4">

        <span sec:authorize="isAuthenticated()">
            Welcome,
            <span sec:authentication="name"></span>
        </span>

    <form th:action="@{/logout}"
          method="post">

      <button class="bg-red-500 px-3 py-1 rounded">
        Logout
      </button>

    </form>

  </div>

</header>

</body>
</html>