<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="sidebar" class="sidebar">

  <h2 class="sidebar-title">
    MENU
  </h2>

  <ul class="sidebar-menu">

    <li>
      <a th:href="@{/dashboard}"
         class="sidebar-link"
         data-menu="dashboard"
         onclick="setActiveMenu(this)">
        Trang chủ
      </a>
    </li>

    <li>
      <a href="#"
         onclick="setActiveMenu(this); loadContent('/profile/content')"
         data-menu="profile"
         class="sidebar-link">
        Thông tin cá nhân
      </a>
    </li>

    <!-- USER -->
    <li sec:authorize="hasRole('USER')">
      <a th:href="@{user/booking}"
         class="sidebar-link"
         onclick="setActiveMenu(this);">
        Đặt vé
      </a>
    </li>

    <li sec:authorize="hasRole('USER')">
      <a th:href="@{user/history}"
         onclick="setActiveMenu(this);"
         class="sidebar-link">
        Lịch sử đặt vé
      </a>
    </li>

    <!-- STAFF -->
    <li sec:authorize="hasRole('STAFF')">
      <a th:href="@{/staff/tickets}"
         onclick="setActiveMenu(this);"
         class="sidebar-link">
        Kiểm tra vé
      </a>
    </li>

    <!-- ADMIN -->
    <li sec:authorize="hasRole('ADMIN')">
      <a href="#"
         onclick="setActiveMenu(this); loadContent('/admin/movies/content')"
         data-menu="movies"
         class="sidebar-link">
        Quản lý phim
      </a>
    </li>

    <li sec:authorize="hasRole('ADMIN')">
      <a href="#"
         onclick="setActiveMenu(this); loadContent('/admin/showtimes/content')"
         data-menu="showtimes"
         class="sidebar-link">
        Quản lý xuất chiếu
      </a>
    </li>

    <li sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/admin/reports}"
         onclick="setActiveMenu(this);"
         class="sidebar-link">
        Báo cáo
      </a>
    </li>

  </ul>

</div>
</html>